<div class="full-screen-interstitial full-screen-container {{if isShowing "" "d-none"}}">
  <div class="spinner-border text-info" role="status">
    <span class="sr-only">Loading...</span>
  </div>
</div>