<li class="row alert alert-info alert-dismissible">
  <span class="col8">{{item.message}}</span>
  <button type="button" class="close" {{action "delete"}}>
    <span aria-hidden="true">&times;</span>
  </button>
</li>