<div class="jumbotron">
  <TransactionUploadList @emptyMessage="No transactions at the moment" @title="Here are your transactions"
                         @transactionUploadList={{this.model}}/>
</div>